$gray-dark: #4F555D;
$gray-medium: #C4C4C4;
$gray-light: #F5F5F5;

$black: #000000;
$white: #FFFFFF;

$yellow-100: #F2C500;
$yellow-60: #F8DE8D;
$yellow-10: #FDF6DC;

$brown-light-100: #B68652;
$brown-light-60: #D6B692;
$brown-light-10: #F3ECE0;

$brown-dark-100: #482200;
$brown-dark-60: #7F5939;
$brown-dark-10: #EFE1D0;

$brown-medium-100: #785B56;
$brown-medium-60: #B69E97;
$brown-medium-10: #F2E9E5;

$negative-100: #D73F3F;
$negative-60: #EA9B9B;
$negative-10: #F9EAEA;

$positive-100: #2D8537;
$positive-60: #94C298;
$positive-10: #E8F2EA;

$font-figtree: "Figtree", sans-serif;
$font-poppins: "Poppins", sans-serif;